<div class="grid grid-cols-12 gap-8">
    <div class="col-span-12 md:col-span-8">
        <monthly-comparison-widget />
    </div>
    <div class="col-span-12 md:col-span-4">
        <insights-widget />
    </div>
    <stats-widget />
    <div class="col-span-12 md:col-span-12">
        <stores-widget />
    </div>
    <div class="col-span-12 md:col-span-6">
        <top-searches-widget />
    </div>
    <div class="col-span-12 md:col-span-6">
        <analytics-table-widget />
    </div>
    <div class="col-span-12 md:col-span-4">
        <expenses-widget />
    </div>
    <div class="col-span-12 md:col-span-8">
        <ratings-widget />
    </div>
</div>