spring:
  servlet:
    multipart:
      enabled: true
      max-request-size: 10MB
      max-file-size: 50MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  application:
    name: ecreditservice
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: true
  profiles:
    active: default
  datasource:
    url: jdbc:postgresql://localhost:5432/localdb
    username: user2711
    password: admin2711
    hikari:
      connection-test-query: SELECT 1
  main:
    allow-bean-definition-overriding: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
    deserialization:
      fail-on-unknown-properties: false
      adjust-dates-to-context-time-zone: false
    mapper:
      default-view-inclusion: true
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSSSS
    time-zone: UTC  # ou votre timezone

    # Active automatiquement les modules détectés
    modules:
      enabled: true

file:
  upload-dir: C:/Users/DELL/IdeaProjects/micro/uploads
  base-url: http://localhost:8087/ecredit/files

  jpa:
    database: POSTGRESQL
    open-in-view: false
    generate-ddl: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: localdb

  kafka:
    bootstrap-servers:
      - localhost:9092
    template:
      default-topic: NOTIFICATION_TOPIC
    producer:
      group-id: topicgroupid
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        max.request.size: 1300000000
    properties:
      spring:
        json:
          type:
            mapping: Notification:io.digiservices.userservice.domain.Notification
      message.max.bytes: 1300000000
      max.request.size: 1300000000

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://admin:admin2711@localhost:5002/eureka/

ui:
  app:
    url: http://localhost:4200


key:
  private: private.key
  public: public.key


server:
  port: 8087

integration:
  partner:
    user: CRG01
    password: CRG@12
    version: 0
    hours: 2
    base-url: http://197.149.247.18:7890


logging:
  level:
    io:
      digiservices:
        ecreditservice:
          utils:
            IntegrationUtils: DEBUG
    org:
      springframework:
        web:
          client:
            RestTemplate: DEBUG



  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    property-naming-strategy: SNAKE_CASE
    date-format: yyyy-MM-dd'T'HH:mm:ss

jwks:
  uri: http://localhost:8080/oauth2/jwks


orange:
  api:
    oauth:
      url: https://api.orange.com/oauth/v3/token
    sms:
      url: https://api.orange.com/smsmessaging/v1/outbound/tel:+224622459305/requests
      balance:
        url: https://api.orange.com/sms/admin/v1/contracts
    client:
      credentials: Basic VExqQ1BlQ1ZDdUxTRURLUjc2Z0RZcXo5QWw4a3h5M3A6bVV6Y0tsTHhRdkp1Z1lpTWN2UFdjT2lMN3ppc3RSdDFCRjVvajIxNEwxRGs=
    sender:
      address: tel:+224622459305
