<div class="card h-full">
    <div class="p-2 h-full flex flex-col justify-between">
        <div class="flex items-center justify-between mb-4">
            <div class="flex gap-4 flex-col justify-between w-full md:flex-row md:items-center">
                <div class="flex gap-4 items-center">
                    <div class="text-4xl">👋</div>
                    <div class="flex flex-col gap-1 text-surface-600 dark:text-surface-200">
                        <span class="text-2xl font-semibold">Bonjour,<span class="text-color"> {{ user?.firstName }} {{
                                user?.lastName }}!</span></span>
                        <span> Point de Service <span class="font-bold text-primary">&#64; {{ state().pointVente?.libele
                                }} : {{ state().pointVente?.code
                                }} </span></span>
                    </div>
                </div>
                <div class="flex items-center gap-2">
                    @if(user?.role ==='AGENT_CREDIT'){
                    <p-message severity="info">
                        Nouvelle demande Pour la Selection, Vour pour plus de details.
                        <a [routerLink]="['/dashboards/agent-credit/', user?.agenceId,user?.userId]"
                            class="px-2 py-1 ml-2 font-bold bg-blue-100 text-blue-700 rounded-md border border-blue-300 hover:bg-blue-200">
                            Voir la liste →
                        </a>
                    </p-message>
                    }@else {
                    }

                </div>
            </div>
        </div>
    </div>
</div>