<div class="min-h-screen flex flex-col bg-cover" [style]="{ backgroundImage: 'url(/images/pages/login-bg.jpg)' }">
    <div class="self-center mt-auto mb-auto">
        <div
            class="text-center z-50 flex flex-col border rounded-md border-surface bg-surface-0 dark:bg-surface-900 p-12">
            <span class="text-2xl font-semibold">Reinitialisation de mot de passe</span>
            <div class="text-muted-color px-12">Saisissez votre addresse Email pour recevoir un email</div>
            <div class="flex flex-col gap-4 mt-12">
                <form #form="ngForm" (ngSubmit)="resetPassword(form)">
                    <p-input-group>
                        <p-inputgroup-addon>
                            <i class="pi pi-at"></i>
                        </p-inputgroup-addon>
                        <input pInputText name="email" ngModel #email="ngModel" placeholder="Email" required email />
                        @if(email.invalid && email.dirty && email.touched && email.errors?.['required']){
                        <p-message severity="error" size="small" styleClass="h-full w-full ">
                            Email is required
                        </p-message>
                        }

                        @if(email.invalid && email.dirty && email.touched && email.errors?.['email']){
                        <p-message severity="error" size="small" styleClass="h-full w-full ">
                            Email format is invalid.
                        </p-message>
                        }
                    </p-input-group>
                    <br>
                    <p-input-group>
                        <button [disabled]="form.invalid || state().loading" type="submit" pButton class="w-full"
                            label="Reset password"></button>
                    </p-input-group>
                </form>
                <p-input-group>
                    <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:4200&code_challenge_method=S256&code_challenge=vesLhZA4cwKsKZAR7zvEJ9q3uI6dRM8nwna-IpuKkkk"
                        pButton class="w-full text-primary-500" text label="BACK TO LOGIN"></a>
                </p-input-group>
            </div>
        </div>
    </div>
</div>
<p-toast />
<app-configurator simple />